body{
    --slack-color: #3f0f40;
    width: 100%;
    height: 100%;
}

.app{
    width: 100%;
}

.app_body{
    display: flex;
}

@media only screen and (max-width: 425px) {
    .app_body{
        display: grid;
        grid-template-columns: 30% 70%;
    }
}