.chatInput {
	border-radius: 20px;
}

.chatInput > form {
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 2px;
}

.chatInput > form > input {
	position: fixed;
	bottom: 8px;
	width: 40%;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 20px;
}

.chatInput > form > button {
	display: none !important;
}
